.grid__header, .grid__body{
    display: grid;
    grid-template-columns: repeat(3,1fr);
}
.grid__header{

}
.grid__element{
    border:1px solid;
    width: 100%;
    height: 100%;
    text-align: center;
}