.grid__header, .grid__body{
    display: grid;
    grid-template-columns: repeat(3,1fr);
}
.grid{
    margin-bottom: 20px;
}
.grid__header{
    border: 2px solid;
    background: beige;
}
.grid__body{}
.grid__element{
    border: 1px solid;
    height: 50px;
    text-align: center;
    margin: 0;
    padding: 0;
    background: none;
}
.pagination{
    text-align: center;
}